<p id="notice"><%= notice %></p>

<h1>Polaroids</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @polaroids.each do |polaroid| %>
    <tr>
      <td><%= polaroid.title %></td>
      <td><%= polaroid.description %></td>
      <td><%= cl_image_tag polaroid.photo.key, height: 300, width: 400, crop: :fill %></td>
      <td><%= link_to 'Show', polaroid %></td>
      <td><%= link_to 'Edit', edit_polaroid_path(polaroid) %></td>
      <td><%= link_to 'Destroy', polaroid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>



    <% @polaroids.each do |polaroid| %>

 <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path polaroid.photo.key %>')">
  Breakfast
</div>

    <% end %>


<br>

<%= link_to 'New Polaroid', new_polaroid_path %>
