<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= image_tag('logo.png') %>
  <% end %>

 <div class="navbar-wagon-item hidden-md hidden-lg">
 <div class="dropdown">
  <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown" style="color: white !important"></i>
  <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
       <li> <p><%= link_to "Home", root_path, class: "navbar-wagon-item navbar-wagon-link"%></p></li>
         <li><p><%= link_to "Film", cinematography_path, class: "navbar-wagon-item navbar-wagon-link"%></p></li>
       <li><p><%= link_to "Photos", photography_path, class: "navbar-wagon-item navbar-wagon-link"%></p></li>
       <li><p><%= link_to "Descargables", records_path, class: "navbar-wagon-item navbar-wagon-link"%></p></li>
        <li><p><%= link_to "Contact", contact_path, class: "navbar-wagon-item navbar-wagon-link"%></p></li>
       <% if current_user %>
       <%= link_to destroy_user_session_path, method: :delete do %>
       <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
       <% end %>
       <% end %>
     </ul>
 </div>
</div>
</div>
