<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.7) 50%), url('<%= image_path('bannerfd.gif')%> '); background-position: center;">
  <div>
    <div class="hidden-xs hidden-sm">
      <h2 style="font-family: 'Raleway', sans-serif;">FRANCISCO DUTARY</h2>
    </div>
    <br>
    <p>FILMS | PHOTOS</p>
    <br>
    <i class="fa fa-angle-double-down symbols" aria-hidden="true"></i>

  </div>

</div>

<div class="container" style="padding-top: 150px;">
  <h3 class="text-center" style="color:white; font-family: 'Raleway', sans-serif; font-weight: lighter;">I am Francisco Dutary, a passionate filmmaker who loves to  tell stories catching moments.</h3>
</div>
<br>
<div class=" container">
  <br>
  <div class="text-center " style="padding-bottom: 150px">
    <hr style="background-color: white: ">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/GSwfOhd8CUw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <hr>
  </div>
</div>
<div class="banner2" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), url('<%= image_path('fotosbanner.jpg')%> '); background-position: center;">
  <div>
   <%= link_to photography_path do %>
   <h1 class="text-center" style="color: white; text-decoration: none;  font-family: 'Raleway', sans-serif;"> PHOTOGRAPHY</h1>
   <% end %>

 </div>

</div>
<div class="container" style="padding-top: 150px;">
  <h3 class="text-center" style="color:white; font-family: 'Raleway', sans-serif; font-weight: lighter;">"If you show another point of view, you can change the world”
  </h3>
</div>
<br>
<div class=" container">
  <br>
  <div class="text-center " style="padding-bottom: 150px">
    <hr style="background-color: white: ">
    <iframe width="720" height="400" src="https://www.youtube.com/embed/jKUbFNVB-7c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <hr>
  </div>
</div>
<div class="banner2" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), url('<%= image_path('videosbanner.jpg')%> '); background-position: center;">
   <%= link_to cinematography_path do %>
  <h1 class="text-center" style="color: white; text-decoration: none;  font-family: 'Raleway', sans-serif;">
    CINEMATOGRAPHY
  </h1>
  <% end %>

</div>

<div class="container" style="padding-top: 150px;">
  <h3 class="text-center" style="color:white; font-family: 'Raleway', sans-serif;font-weight: lighter;">I discovered my passion for cinema exploring magical spots in Panamá hiking mountains and doing extreme sports.
  </h3>
</div>
<div class=" container">
  <br>
  <div class="text-center " style="padding-bottom: 150px">
    <hr style="background-color: white: ">

    <iframe src="https://www.youtube.com/embed/rO5RAyqwZAM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <hr>
  </div>
</div>
