<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Francisco Dutary</title>
  <meta name="description" content="Francisco Dutary - FILMS|PHOTOS">
  <meta name="keywords" content="Photos, Art, Artist, HD photos, Video">
  <meta name="author" content="Leo">
  <meta property=”og:title” content=”FranciscoDutary”/>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<body class="Site">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <main class="Site-content">
    <div class="content">
      <%= yield %>
    </div>
  </main>
  <%= render 'shared/footer' %>
  <%= javascript_include_tag 'application' %>

  <%= javascript_pack_tag 'application' %>
</body>
</html>
